{{ define "telegram_list" }}
{{ range . }}
  {{- if eq .Labels.severity "critical" }}
    🚨 **CRITICAL ALERT** - {{ .StartsAt.Format "Mon, 02 Jan 2006 15:04:05" }} UTC
  {{- end }}
  {{- if eq .Labels.severity "warning" }}
    ⚠️ **WARNING ALERT** - {{ .StartsAt.Format "Mon, 02 Jan 2006 15:04:05" }} UTC
  {{- end }}
  {{- if eq .Labels.severity "info" }}
    ℹ️ **INFO ALERT** - {{ .StartsAt.Format "Mon, 02 Jan 2006 15:04:05" }} UTC
  {{- else }}
    **ALERT** - {{ .StartsAt.Format "Mon, 02 Jan 2006 15:04:05" }} UTC
  {{- end }}

- **Service:** {{ .Labels.service }}
- **Host:** {{ .Labels.host }}

  {{- if .Annotations.summary }}
- **Summary:** {{ .Annotations.summary }}
  {{- else }}
- _No additional information provided._
  {{- end }}

  {{- if .Annotations.description }}
- **Description** {{ .Annotations.description }}
  {{- else }}
- _No additional information provided._
  {{- end }}

  {{- if .Labels.alertname }}
**For more details** [click here](http://127.0.0.1:9093/#/alerts?filter=alertname%3D{{ .Labels.alertname | urlquery }})
  {{- else }}
_No alertname specified._
  {{- end }}
{{ end }}
{{ end }}

{{ define "telegram.message" }}
  {{ if gt (len .Alerts.Firing) 0 }}
    {{ template "telegram_list" .Alerts.Firing }}
  {{ end }}
  {{ if gt (len .Alerts.Resolved) 0 }}
    ✅ Resolved Alerts
    {{ template "telegram_list" .Alerts.Resolved }}
  {{ end }}
{{ end }}

{{ define "telegram_list_summary" }}
{{ range . }}
  {{- if eq .Labels.severity "critical" }}
🚨 **CRITICAL ALERT** - {{ .StartsAt.Format "Mon, 02 Jan 2006 15:04:05" }} UTC
  {{- else if eq .Labels.severity "warning" }}
⚠️ **WARNING ALERT** - {{ .StartsAt.Format "Mon, 02 Jan 2006 15:04:05" }} UTC
  {{- else if eq .Labels.severity "info" }}
ℹ️ **INFO ALERT** - {{ .StartsAt.Format "Mon, 02 Jan 2006 15:04:05" }} UTC
  {{- else }}
**ALERT** - {{ .StartsAt.Format "Mon, 02 Jan 2006 15:04:05" }} UTC
  {{- end }}

- **Service:** {{ .Labels.service }}
- **Node/Host:** {{ .Labels.host }}

  {{- if .Annotations.summary }}
- **Summary:** {{ .Annotations.summary }}
  {{- else }}
- _No additional information provided._
  {{- end }}

  {{- if .Labels.alertname }}
- **For more details** [click here](http://127.0.0.1:9093/#/alerts?filter=alertname%3D{{ .Labels.alertname | urlquery }})
  {{- else }}
- _No alertname specified._
  {{- end }}

{{ end }}
{{ end }}

{{ define "telegram.summary" }}
  {{ if gt (len .Alerts.Firing) 0 }}
    {{ template "telegram_list_summary" .Alerts.Firing }}
  {{ end }}
  {{ if gt (len .Alerts.Resolved) 0 }}
✅ **Resolved Alerts**:
    {{ template "telegram_list_summary" .Alerts.Resolved }}
  {{ end }}
{{ end }}

{{ define "__subject" }}
  {{ if gt (len .Alerts.Firing) 0 }}
    {{- range .Alerts.Firing }}
      {{- if .Labels.severity }}
        {{- if eq .Labels.severity "critical" }}
          🚨 CRITICAL ALERT - {{ .StartsAt.Format "Mon, 02 Jan 2006 15:04:05" }} UTC
        {{- else if eq .Labels.severity "warning" }}
          ⚠️ WARNING ALERT - {{ .StartsAt.Format "Mon, 02 Jan 2006 15:04:05" }} UTC
        {{- else if eq .Labels.severity "info" }}
          ℹ️ INFO ALERT - {{ .StartsAt.Format "Mon, 02 Jan 2006 15:04:05" }} UTC
        {{- else }}
          ALERT - {{ .StartsAt.Format "Mon, 02 Jan 2006 15:04:05" }} UTC
        {{- end }}
      {{- end }}
    {{- end }}
  {{- end }}
{{ end }}

{{ define "__summary" }}
  {{ if .Alerts.Firing }}
    {{ range .Alerts.Firing }}
- service = {{ .Labels.service }}
- host = {{ .Labels.host }}
- Summary = {{ .Annotations.summary }}

  {{- if .Labels.alertname }}
For more details [click here](http://127.0.0.1:9093/#/alerts?filter=alertname%3D{{ .Labels.alertname | urlquery }})
  {{- else }}
_No alertname specified._
  {{- end }}
    {{ end }}
  {{ end }}
{{ end }}

{{ define "__text_alert_list_markdown" }}
  {{ if .Alerts.Firing }}
    {{ range .Alerts.Firing }}
- service = {{ .Labels.service }}
- host = {{ .Labels.host }}
- Summary = {{ .Annotations.summary }}

- Description = {{ .Annotations.description }}

  {{- if .Labels.alertname }}
For more details [click here](http://127.0.0.1:9093/#/alerts?filter=alertname%3D{{ .Labels.alertname | urlquery }})
  {{- else }}
_No alertname specified._
  {{- end }}
    {{ end }}
  {{ end }}
{{ end }}

{{ define "msteams.title" }}
  {{ template "__subject" . }}
{{ end }}

{{ define "msteams.summary" }}
  {{ template "__summary" . }}
{{ end }}

{{ define "msteams.text" }}
  {{ if gt (len .Alerts.Firing) 0 }}
    {{ template "__text_alert_list_markdown" . }}
  {{ end }}
  {{ if gt (len .Alerts.Resolved) 0 }}
    ✅ Alerts Resolved:
    {{ template "__text_alert_list_markdown" . }}
  {{ end }}
{{ end }}
