{{ define "alert_list" }}
{{ range . }}
  {{- if eq .Labels.severity "critical" }}
    🔴 CRITICAL ALERT
  {{- end }}
  {{- if eq .Labels.severity "warning" }}
    ⚠️ WARNING ALERT
  {{- end }}
  {{- if eq .Labels.severity "info" }}
    ℹ️ INFO ALERT
  {{- end }}
  {{- if .Annotations.summary }}
    Summary: {{ .Annotations.summary }}
  {{- end }}
  {{- if .Annotations.description }}
    Description: {{ .Annotations.description }}
  {{- end }}
{{ end }}
{{ end }}

{{ define "alert.message" }}
  {{ if gt (len .Alerts.Firing) 0 }}
    {{ template "alert_list" .Alerts.Firing }}
  {{ end }}
  {{ if gt (len .Alerts.Resolved) 0 }}
    ✅ Resolved Alerts
    {{ template "alert_list" .Alerts.Resolved }}
  {{ end }}
{{ end }}
